{% extends "base.html" %} {% block content %}
<div class="w-full max-w-md mx-auto mt-8 shadow-lg p-6">
  <h2 class="text-xl font-medium mb-4">Register as Project Owner</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label for="{{ form.email.id_for_label }}" class="block font-medium mb-2"
        >Email</label
      >
      {{ form.email }} {% if form.email.errors %}
      <p class="text-red-500 mt-1">{{ form.email.errors.as_text }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      <label
        for="{{ form.full_name.id_for_label }}"
        class="block font-medium mb-2"
        >Full Name</label
      >
      {{ form.full_name }} {% if form.full_name.errors %}
      <p class="text-red-500 mt-1">{{ form.full_name.errors.as_text }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      <label
        for="{{ form.password1.id_for_label }}"
        class="block font-medium mb-2"
        >Password</label
      >
      {{ form.password1 }} {% if form.password1.errors %}
      <p class="text-red-500 mt-1">{{ form.password1.errors.as_text }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      <label
        for="{{ form.password2.id_for_label }}"
        class="block font-medium mb-2"
        >Confirm Password</label
      >
      {{ form.password2 }} {% if form.password2.errors %}
      <p class="text-red-500 mt-1">{{ form.password2.errors.as_text }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      <label
        for="{{ form.project_name.id_for_label }}"
        class="block font-medium mb-2"
        >Project Name</label
      >
      {{ form.project_name }} {% if form.project_name.errors %}
      <p class="text-red-500 mt-1">{{ form.project_name.errors.as_text }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      <label
        for="{{ form.project_description.id_for_label }}"
        class="block font-medium mb-2"
        >Project Description</label
      >
      {{ form.project_description }} {% if form.project_description.errors %}
      <p class="text-red-500 mt-1">
        {{ form.project_description.errors.as_text }}
      </p>
      {% endif %}
    </div>
    <div>
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Register
      </button>
    </div>
  </form>
</div>
{% endblock %}
