{% extends 'base.html' %} {% block content %}



{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/login.css' %}" />
<style>
.center2{
  width: 700px ;
  margin-top: 100px ;
}
body{
    height: 130vh;
  }
.bug-button{
  border: none;
  
}
</style> 
<body>
    <div class="center center2">
      <h1>User Registration Form</h1>
        <form method="post">
          {% csrf_token %}
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{ form.email }}
          <br />
          <label for="{{ form.username.id_for_label }}">Username:</label>
          {{ form.username }}
          <br />
          <label for="{{ form.password1.id_for_label }}">Password:</label>
          {{ form.password1 }}
          <br />
          <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
          {{ form.password2 }}
          <br />
          <label for="{{ form.full_name.id_for_label }}">Full Name:</label>
          {{ form.full_name }}
          <br />
          <label for="{{ form.project_name.id_for_label }}">Project Name:</label>
          {{ form.project_name }}
          <br />
          <label for="{{ form.project_description.id_for_label }}"
            >Project Description:</label
          >
          {{ form.project_description }}
          <br />
          <input type="submit" value="Register" style="border-radius: 5px; margin-top: 30px;"   class="bug-button"/>
        </form>
    </div>
{% endblock %}
