{% extends 'dashboard.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}" />
<style>
  p{
    padding: 10px 0 0 0;
  }
  h2{
    text-transform: capitalize;
    padding: 10px 0 0 0;

  }
</style>
  <main>
    <div class="table-data">
      <div class="order">
        <!-- <div class="head"/> -->
          <h2>{{ object.title }}</h2>
<p>{{ object.description }}</p>
<p><b>Status:</b> {{ object.status }}</p>
<p><b>Added date:</b> {{ object.added_date }}</p>
<p><b>Assigned to:</b> {{ object.assigned_to }}</p>
<p><b>Submitted by:</b> {{ object.submitted_by }}</p>
<p><b>Project:</b> {{ object.project }}</p>
<p><b>Priority:</b> {{ object.priority }}</p>
<p><b>Severity:</b> {{ object.severity }}</p>

<!-- Display the media files -->
{% if media_files %}
<h2>ScreenShots/Log files</h2>
<ul>
  {% for media in media_files %}
  <li><a href="{{ media.file.url }}">{{ media.file.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<!-- Display the comments -->
{% if comments %}
<h2>Comments:</h2>
<ul>
  {% for comment in comments %}
  <li>
    <p><strong>{{ comment.by }}:</strong> {{ comment.text }}</p>
    <p class="small">{{ comment.date_added }}</p>
  </li>
  {% endfor %}
</ul>
{% endif %}

<!-- Display the comment form -->
{% if user.is_authenticated %}
<h2>Add a Comment:</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="bug-button">Add Comment</button>
</form>
{% else %}
<p>You need to <a href="{% url 'login' %}">login</a> to add comments.</p>
{% endif %} {% endblock %}

         
         </div>
      </div>
    </div>
</main>
