{% extends 'dashboard.html'%} 
{%block content%}
<!-- <style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    border-spacing: 5px;
  }

  th,
  td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
  }
</style>
<div class="container">
  <div>
    <form method="GET" style="margin-bottom: 4%; margin-top: 2%">
      <input type="text" placeholder="Search" name="search" />
      <button type="submit">
        Search<i class="fa fa-magnifying-glass px-2"></i>
      </button>
    </form>
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Added Date</th>
      <th>description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Severity</th>
    </tr>
    {%for f in bugs %}
    <tr style="height: 80px">
      <td>{{f.id}}</td>
      {% if f.priority == 'HIGH' %}
      <td style="color: red">{{f.title}}</td>
      {% endif %} {% if f.priority == 'MEDIUM' %}
      <td style="color: orange">{{f.title}}</td>
      {% endif %} {% if f.priority == 'LOW' %}
      <td style="color: yellow">{{f.title}}</td>
      {% endif %}
      <td>{{f.added_date}}</td>

      <td>{{f.description}}</td>

      <td>{{f.priority}}</td>
      <td>{{f.status}}</td>
      <td>{{f.assigned_to}}</td>
      <td>{{f.severity}}</td>

      <td>
        <a href="/dashboard/update_bug/{{f.id}}"
          ><i class="fa fa-pencil"></i
        ></a>
        <a href="/dashboard/delete_bug/{{f.id}}"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    {%endfor%}
  </table>
  <div>
    {%for page in paginator.page_range%}
    <a href="?page={{page}}&search={{request.GET.search}}"> {{page}} </a>
    {%endfor%}
  </div>
  <div>
    <button style="float: right">
      <a href="/dashboard/add_bug/"><i class="fa fa-plus">Report New Bug</i></a>
    </button>
  </div>
</div> -->
<style>
 .bug-button{
    width: 120px;
    height: 35px;
    color: white;
    background-color: #3C91E6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
 }
 .bug-button:hover{
  color: #3C91E6;
  background-color: white;
  transition: 0.20s;
  border-color: #3C91E6;
  border-style: solid;
 }
.bug-button:active{
  opacity: 0.3;
  transition: 0.20s;
  
}
.search{
  height: 35px;
  padding-left: 10px;
  border: #3C91E6 solid;
  border-radius: 5px;
}
td{
  max-width: 50px;
}
tr{
  border:2px #3C91E6 solid ;
  margin-left: 10px;

  padding: 2px;
  
}
thead{
  background-color: #3C91E6;
  color: white;
  

}
table td+ td{
  border-left:2px #3C91E6 solid ;
}

th, td {
  padding: 15px;
}
.id-w{
  width: 30px;
}
</style>
  <main>
    <h1>Bugs</h1>
    <div class="table-data">
      <div class="order">
        <div class="head">
          
          <form  clss="search-box" method="GET" style="margin-bottom: 4%; margin-top: 2%; ">
            <input class="search" type="text" placeholder="Search" name="search" />
            <button type="submit" class="bug-button">
              Search <i class='bx bx-search-alt-2' ></i>
              </button>
              </form>
        </div>
        <table>
          <thead>
            <tr>
              <th class="id-w"><h6>Bug Id</h6></th>
              <th><h6>Title</h6></th>
              <th><h6>Date</h6></th>
              <th><h6>Description</h6></th>
              <th><h6>Priority</h6></th>
              <th><h6>Status</h6></th>
              <th><h6>Assigned To</h6></th>
              <th><h6>Severity</h6></th>
              <th><h6></h6></th>

            </tr>
          </thead>
          <tbody>
            {%for f in bugs %}
    <tr>
      <td class="id-w">{{f.id}}</td>
      <td>{{f.title}}</td>
      <td>{{f.added_date}}</td>
      <td>{{f.description}}</td>
      <td>{{f.priority}}</td>
      <td>{{f.status}}</td>
      <td>{{f.assigned_to}}</td>
      <td>{{f.severity}}</td>
      <td>
        <a href="/dashboard/update_bug/{{f.id}}"
          ><i class='bx bxs-edit' ></i></a>
        <a href="/dashboard/delete_bug/{{f.id}}"><i class='bx bxs-trash' ></i></a>
      </td>
    </tr>
    {%endfor%}
  </table>
  <div>
    {%for page in paginator.page_range%}
    <a href="?page={{page}}&search={{request.GET.search}}"> {{page}} </a>
    {%endfor%}
    </div>
    <div>
    <button style="float: right" class="bug-button">

      <a href="/dashboard/add_bug/"></a>
      Report Bug
    </button>
    </div>
  </div> 
          </tbody>
        </table>
      </div>
    </div>
</main>

{% endblock %}
