{% extends 'dashboard.html'%} {%block content%}
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  table {
    border-spacing: 5px;
  }

  th,
  td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
  }
</style>
<div class="container">
  <div>
    <form method="GET" style="margin-bottom: 4%; margin-top: 2%">
      <input type="text" placeholder="Search" name="search" />
      <button type="submit">
        Search<i class="fa fa-magnifying-glass px-2"></i>
      </button>
    </form>
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Added Date</th>
      <th>description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Severity</th>
    </tr>
    {%for f in bugs %}
    <tr style="height: 80px">
      <td>{{f.id}}</td>
      {% if f.priority == 'HIGH' %}
      <td style="color: red">{{f.title}}</td>
      {% endif %} {% if f.priority == 'MEDIUM' %}
      <td style="color: orange">{{f.title}}</td>
      {% endif %} {% if f.priority == 'LOW' %}
      <td style="color: yellow">{{f.title}}</td>
      {% endif %}
      <td>{{f.added_date}}</td>

      <td>{{f.description}}</td>

      <td>{{f.priority}}</td>
      <td>{{f.status}}</td>
      <td>{{f.assigned_to}}</td>
      <td>{{f.severity}}</td>

      <td>
        <a href="/dashboard/update_bug/{{f.id}}"
          ><i class="fa fa-pencil"></i
        ></a>
        <a href="/dashboard/delete_bug/{{f.id}}"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    {%endfor%}
  </table>
  <div>
    {%for page in paginator.page_range%}
    <a href="?page={{page}}&search={{request.GET.search}}"> {{page}} </a>
    {%endfor%}
  </div>
  <div>
    <button style="float: right">
      <a href="/dashboard/add_bug/"><i class="fa fa-plus">Report New Bug</i></a>
    </button>
  </div>
</div>
{%endblock%}
