{%extends 'base2.html'%} {% block content%}
<div class="row h-100">
  <div
    class="col"
    style="
      background-color: #333333;
      height: 100vh;
      width: 50%;
      margin-left: -6.9%;
      position: absolute;
    "
  >
    <div style="margin-top: 35% ; padding-left: 30%;font-weight: 700;">
      <h1 class="p-5 pb-0 text-white mb-0 " style="font-weight: 700; font-size: 64px;">Bug Tracker</h1>
    </div>
  </div>
  <div
    class="col p-5 pt-0"
    style="margin-top: 15%; width: 20%; margin-left: 50%;"
  >
    <h2 class="pl-5" 
    style="font-weight: 400;line-height: 48px; color: #4F4F4F;
    width: 381px;
    height: 48px">
    Authorized Login
  </h2>
  <form method="post">
    {%csrf_token%}
    <div  class="form-group p-3">
      <input
      style="height: 56px;border-radius: 10px;background-color: #EFF0F6; border: none;"
      class="form-control"
        type="text"
        name="username"
        autofocus
        autocapitalize="none"
        autocomplete="username"
        maxlength="150"
        required
        placeholder="Username"
        id="id_username"
      />
    </div  class="form-group">
    <div class="p-3">
   
      <input
      style="height: 56px;border-radius: 10px; background-color: #EFF0F6;border: none;"
      class="form-control"
        type="password"
        name="password"
        autocomplete="current-password"
        required
        placeholder="Password"
        id="id_password"
      />
    </div>
    <div class="form-group p-3">
      <input  style="
      background-color: #333333;
      border-radius: 10px;
      
      color: white;
    
      height : 56px;"
      class="btn mt-1 form-control"
      type="submit" name="submit" value="Login" />
    </div>
    <div>

   
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>
  </form>
  </div>
</div>

{%endblock%}