{% extends 'dashboard.html'%} {%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}" />

 </style>
   <main>
     <h1>Team Members</h1>
     <div class="table-data">
       <div class="order">
         <div class="head">
           
           <form  clss="search-box" method="GET" style="margin-bottom: 4%; margin-top: 2%; ">
             <input class="search" type="text" placeholder="Search" name="search" />
             <button type="submit" class="bug-button">
               Search <i class='bx bx-search-alt-2' ></i>
               </button>
               </form>
         </div>
         <table>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Assigned To</th>
          </tr>
          {%for f in members %}
          <tr style="height: 80px">
            <td>{{f.full_name}}</td>
            <td>{{f.get_role_display}}</td>
            <td>{{f.assigned_to}}</td>
      
            <td>
              <a href="/dashboard/update_member/{{f.id}}"
                ><i class="fa fa-pencil"></i
              ></a>
              <a href="/dashboard/delete_member/{{f.id}}"
                ><i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
          {%endfor%}
        </table>
        <div>
          {%for page in paginator.page_range%}
          <a href="?page={{page}}&search={{request.GET.search}}"> {{page}} </a>
          {%endfor%}
        </div>
        <div>
          <a href="/dashboard/add_team_member/"
              ><button style="float: right" class="bug-button">
            Add Member
            
          </button>
        </a>
        </div>
      </div>
       </div>
 </main>
 
{%endblock%}
