{%extends 'dashboard.html'%} {%block content%}
<!-- <div class="container">
  <h1>Update Team Member</h1>
  <div class="p-4">
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Save" /></td>
        </tr>
      </table>
    </form>
  </div>
</div> -->




<style>
  .bug-button{
     width: 120px;
     height: 35px;
     color: white;
     background-color: #3C91E6;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-style: normal;
  }
  .bug-button:hover{
   color: #3C91E6;
   background-color: white;
   transition: 0.20s;
   border-color: #3C91E6;
   border-style: solid;
  }
 .bug-button:active{
   opacity: 0.3;
   transition: 0.20s;
   
 }
 .search{
   height: 35px;
   padding-left: 10px;
   border: #3C91E6 solid;
   border-radius: 5px;
   
 
 }
 textarea{
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
 }
 input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
 }
 select{
  width: 100%;
  border-radius: 5px;
  max-width: 500px;
  display: block;
  padding: 10px;
 }
 </style>
   <main>
    <h1>Update Bug Details</h1>
     <div class="table-data">
       <div class="order">
         <div class="head">
         </div>
         <form method="post">
          {% csrf_token %}
          <table>
            {{ form.as_p }}
            <tr>
              <td></td>
              <input class="bug-button" type="submit" name="submit" value="Save" />
            </tr>
          </table>
        </form>
       </div>
     </div>
 </main>
{% endblock %}
