{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/login.css' %}" />
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

  </head>
  <body>
    <div class="center">
      
      <h2>Password Reset Email Sent</h2>
      <p>
        We have sent you an email with instructions on how to reset your password.
        Please check your inbox and follow the instructions to reset your password.
      </p>
      
      
    </div>

  </body>
</html>

{%endblock%}